.h3{
  color: red;
  padding-bottom: 80px;
  font-size: 80px;
  margin-top: -40px;
}


#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: #585858;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color : white;
  }
  #logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
  }
  #logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  
  }

  #logreg-forms .form-control:focus {
    z-index: 2;
  }
  #logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
 
  #logreg-forms .social-btn {
    align-items: center;
    background-color: white;
    border-radius: 50px;
    display: flex;
    height: 60px;
    min-width: 300px;
    padding: 7px 66px;
    margin-bottom: 20px;
  }

  .socialText{
    height: 29px;
    letter-spacing: 0;
    text-align: center;
    font-size: 19px;
    width: 260px;
    color: #848484;
  }
  
  #logreg-forms a {
    display: block;
    padding-top: 10px;
    color: lightseagreen;
  }
  
  .logo{
    
    height: 40px;
    padding-left: -10px;
    padding-bottom: 3px;
  }
  .fa-facebook-f{
    color: rgb(50, 50, 240);
    /* margin-right: 10px; */
    padding-right: 7px;
  }
  .fb_logo{
    height: 50px;
    padding-left: -10px;
    padding-bottom: 0px;
  }
  #logreg-form .lines {
    width: 200px;
    border: 1px solid red;
  }
  
  #logreg-forms button[type="submit"] {
    margin-top: 10px;
  }
  
  #logreg-forms .facebook-btn {
    background-color: white;
  }
  
  #logreg-forms .google-btn {
    background-color: white;
    margin-right: 5px;
  }
  
  .btn-secondary{
    
    background-color: red;
    border-radius: 50px;
    display: flex;
    height: 50px;
    min-width: 80px;
    padding: 7px 46px;
    margin-bottom: 20px;
    
    align-items: center;
    margin: auto;
  }

  #logreg-forms .form-signup .social-btn {
    width: 210px;
  }
  
  #logreg-forms .form-signup  {
    margin-bottom: 3px;
  }

  input{
    margin-bottom: 10px;
  }
  .btn-primary{
    border-radius: 50px;
    padding: 10px 30px;
  }
  
  .form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
  }
  
  /* Mobile */
  
  @media screen and (max-width: 500px) {
    #logreg-forms {
      width: 300px;
    }
  
    #logreg-forms .social-login {
      width: 200px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    #logreg-forms .social-btn {
      font-size: 1.3rem;
      font-weight: 100;
      color: white;
      width: 200px;
      height: 56px;
    }
    #logreg-forms .social-btn:nth-child(1) {
      margin-bottom: 5px;
    }
    #logreg-forms .social-btn span {
      display: none;
    }
    #logreg-forms .facebook-btn:after {
      content: "Facebook";
    }
  
    #logreg-forms .google-btn:after {
      content: "Google+";
    }
  }
  